.main-container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 5px 5px;
  width: 100%;
  height: 100%;
}

.left-filters{
  width: 53%;
  margin-right: 2%;
  float: left;
}

.right-filters{
  width: 45%;  
  float: left;
}

.buttons{
  overflow: auto; 
  margin-left: 33%;
  margin-right: auto;
  width: 50%;
  padding: 10px;
}

